body{
    background-image:url("background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:whitesmoke;
}
.container1{
    background-image: url("manIA.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons, .preamble, .heading, .results{
    display: flex;
    justify-content: center;
}
/*.buttons {
    
}*/
.btn1,.btn2,.btn3{
    margin:20px;
}

