body{
    background-image:url("wallpaperflare.com_wallpaper\ \(2\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:whitesmoke;
}
.container1{
    background-image: url("background.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 100px;
    padding: 90px 1px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 20px;
    color:red;
}
.buttons, .preamble, .heading, .results{
    display: flex;
    justify-content: center;
}
/*.buttons {
    
}*/
.btn1,.btn2,.btn3{
    margin:20px;
}
.heading{
    margin-top:70px;
    font-size: 50px;
}
.buttons{
    color: red;
}
#btn1{
    margin: 25px;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
}
#btn2{
    margin: 25px;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
}
#btn3{
    margin: 25px;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
}
.preamble{
    text-align: center;
}