body{
    background-color: lightskyblue;
    color:navy;
}
.container1{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons, .preamble, .heading, .results{
    display: flex;
    justify-content: center;
}
/*.buttons {
    
}*/
.btn1,.btn2,.btn3{
    margin:20px;
}

